.dropdown-menu{
  max-height:50vh;
  overflow-y:auto;
}
.exercise,.exercise-answer {
  overflow-x:auto;
}
.exercise-heading {
  padding-top: 50px;
}
.jumbotron.bg-cover {
    background-image:
        linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.6) 100%),
        url(/assets/jumbotron.svg) /* credit https://pixabay.com/illustrations/expectrum-rainbow-lines-colour-1191724/ */
}